.error_modal{
    padding: 15px 15px 15px 15px;
    border-radius: 20px;
    background: #fcc9c0;
    display: flex;
    flex-direction: column;
}
.error_message{
    padding: 0px 20px 20px 20px;
}
.error_modal h2{
    color: #f37863;
}

.error_modal .button_close{
    color: #f37863;

    height: 25px;
    width: 25px;
    border: none;
    background-color: white;
    border-radius: 50px;
    align-self: end;
}