/* Full page gradient background */
.login-container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, #165a72, #66c8b8);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* main box */
.login-box {
  width: 45%;
  height: 50%;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  display: flex;
  backdrop-filter: blur(10px);
  overflow: hidden;
}

/* LEFT PANEL */
.login-left {
  width: 60%;
  padding: 60px 80px;
  display: flex;
  flex-direction: column;
}

.brand-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px;
  padding-left: 5px;
  color: white;
}

.login-form label {
  color: white;
  font-size: 14px;
  padding-left: 5px;
}

.login-input {
  width: 100%;
  padding: 10px 15px;
  border-radius: 30px;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0);
  margin-bottom: 15px;
  margin-top: 10px;
  outline: none;
}

/* Form buttons */
.login-buttons-row {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.login-btn {
  padding: 10px 26px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.login-btn.primary {
  background: #b6ec9c;
}

.login-btn.secondary {
  background: white;
}

/* guest link */
.guest-row {
  margin-top: 15px;
  color: white;
  font-size: 14px;
  padding-left: 5px;
}

.guest-link {
  cursor: pointer;
  text-decoration: underline;
}

/* RIGHT PANEL */
.login-right {
  width: 40%;
  background: white;
  border: 2px solid white;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.error-text {
  color: white;
  background: #F9897B;
  border: 1px solid #cf5c4d;
  border-radius: 14px;
  padding: 5px 10px;
  text-align: center;
  margin-top: 10px;
}
