/* Full page gradient background */
.login-container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, #165a72, #66c8b8);
  display: flex;
  align-items: center;
}

/* main box */
.login-box {
  margin-left: auto;
  margin-right: auto;

  width: 45%;
  height: 50%;
  min-width: 550px;

  border: 1px solid white;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;

  display: flex;
  justify-content: space-between;

  backdrop-filter: blur(10px);
  overflow: hidden;
}

/* LEFT PANEL */
.login-left {
  min-width: 370px;
  flex-basis: 60%;
  flex-grow: 1;

  padding: 0% 10%;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login_logo {
  width: 140px;
  margin-bottom: 25px;
  align-self: center;
}

.login-form label {
  color: white;
  font-size: 14px;
  padding-left: 5px;
}

.login-input {
  width: 100%;
  padding: 10px 15px;
  border-radius: 30px;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0);
  margin-bottom: 15px;
  margin-top: 10px;
  outline: none;
}

/* Form buttons */
.login-buttons-row {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.login-btn {
  padding: 10px 26px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #044577;
}

.login-btn.primary {
  background: linear-gradient(to left,#CCE59F, #85E2CD)
}

.login-btn.secondary {
  background: white;
}

/* guest link */
.guest-row {
  margin-top: 15px;
  color: white;
  font-size: 14px;
  padding-left: 5px;
}

.guest-link {
  cursor: pointer;
  text-decoration: underline;
}


.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  color: white;
  background: #F9897B;
  border: 1px solid #cf5c4d;
  border-radius: 14px;
  padding: 5px 10px;
  margin-top: 10px;
}
.error-icon {
  width: 18px;
  height: 18px;
  stroke: white;
}

/* RIGHT PANEL */
.login-right {
  flex-basis: 40%;
  flex-shrink: 1;

  background: white;
  border: 2px solid white;
  border-radius: 14px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.social_icons {
  align-self: flex-end;

  display: flex;
  justify-content: right;
  gap: 10px;
  height: 50px;
  padding: 10px;

  width: 100%;
}

.social_icon{
  stroke: #F9897B;
  cursor: pointer;
  width: 30px;
  height: 30px;
}