@import './styles/_variables.scss';
@import './styles/_keyframe-animations.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  display: flex;
  height: 100vh;
  min-height: 0;

}

#root{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 0;
}

.error-icon {
  width: 16px;
  height: 16px;
  margin-right: 6px;
  vertical-align: middle;
}