@import './styles/_variables.scss';
@import './styles/_keyframe-animations.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Open Sans", Avenir, Helvetica, Arial, sans-serif !important;
  line-height: 1.5;
  font-weight: 400;
  display: flex;
  height: 100vh;
  min-height: 0;

}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: "Montserrat", Avenir, Helvetica, Arial, sans-serif !important;
}


#root{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 0;
}

.error-icon {
  width: 16px;
  height: 16px;
  margin-right: 6px;
  vertical-align: middle;
}